
*{
    margin:0; 
    padding:0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:black;
}

.container{
    max-width: 1000px;
    margin:auto
}

header{
    background-color: #48c5ce;
    text-align: center;
    color:white;
    padding:10px;
    
    position: sticky;
    top:0px;
    
}

.title{
font-size:26px;
}
section{
    padding:20px;
    background-image: url('../assets/people.jpg');
    background-size:cover;
    overflow:hidden;
}

.formContainer{
    max-width: 230px;
    background-color:#fbfdff80;
    padding:20px;
    float: right;
}
h2{
    font-size: 16px;
}
.mb{
    margin-bottom: 15px;
}

input, select{
    width:100%;
    box-sizing:border-box;
    padding:10px;
    border:none;
    margin-bottom:10px;
}

input[type="submit"]{
    color:white ;
    background-color:#48c5ce;
    font-weight:bold;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 

    background-image: url(../assets/arrow.jpg);
    background-repeat: no-repeat;
    background-position-x:calc(100% - 10px);
    background-position-y: center;
}

footer{
    background-color: rgb(41, 40, 44);
    padding:40px;
    text-align:center;
}


.picture{
    width:140px;
}
.description{
    color:white;
    text-align:left;
    display: inline-block;
    max-width:40%;
    margin-left:40px;
}

.description p, .description h3{
    margin-bottom:20px;
}
.description h3{
    font-size: 30px;
}

@media screen and (max-width:720px){
    .formContainer{
        float: none;
        width: 50%;
        height: 50%;
        margin: 0 auto;
       
        
        
    }
    .description p, .description h3{
        text-align: left;
        margin-left:-80px;
        
    }
    .picture{
        width: 30%;
        height: 30%;
        float:left;
    }
    
}

@media screen and (max-width:564px){
    
    .title{
        font-size: 20px;
    }
    
    
    .formContainer{
        float: none;
        max-width: 50%;
        max-height: 50%;
        min-width: 50%;
        min-height: 50%;
        margin: 0 auto;
        
    }
    .description p, .description h3{
        text-align: left;
        position: 800px;
        
    }
    .description p{
        font-size: 15px;
    }
    .description h3{
        font-size:20px
    }

    .picture{
        width: 20%;
        height: 20%;
        float:left;
    }
    
}

@media screen and (max-width:450px){
    
    .description p, .description h3{
        margin-left:-70px;
    }
 
}


@media screen and (max-width:380px){
    
    .title{
        font-size: 15px;
    }
    .mb{
        font-size:16px;
    }
    
    .description p, .description h3{
        margin-left:-60px;
    }
    
    .picture{
        width: 20%;
        height: 20%;
        margin-left:-25px;
        float:left;
    }
    
}